#canvas-container {
    width: 300px;
    height: 300px; /* Kích thước của canvas container */
    display: flex;
}

.slider-container {
    display: flex;
    flex-direction: column; /* Hiển thị các phần tử theo chiều dọc */
    align-items: flex-end;
}

.slider {
    width: 100%;
    margin-bottom: 10px; /* Khoảng cách giữa hai slider */
}
.vertical {
    writing-mode: bt-lr; /* Xoay văn bản 90 độ */
    -webkit-appearance: slider-vertical; /* Thiết lập dạng slider dọc cho Chrome */
    width: 20px; /* Chiều rộng của thanh trượt dọc */
    margin-right: 10px; /* Khoảng cách giữa thanh trượt và các phần tử khác */
    transform: rotate(180deg);
    margin-bottom: 30px;
}
.d-flex{
    display: flex;
}
